<div>
<li>Dashboard</li>
  <ul class="breadcrumb">
    <li><%= link_to 'Home',dashboard_home_index_path%></li>
    <li><%= link_to 'Resume',resumes_path%></li>
    <li><%= link_to 'Add Admin',admin_users_path%></li>
    
  </ul>
</div>
