<div class="tp-header">
    <!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
 <% if user_signed_in? %>
 <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="home">
      <font color="red">Admin Panel</font>
      </a>
    </div>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><%= link_to "Sign out", destroy_user_session_path,method: :delete %></li>
       <li><%= link_to "Home", dashboard_home_index_path %></li>
       
      

    
</nav>

<% else %>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="home">
      <font color="Red">Admin Panel</font>
      </a>
    </div>
    </div>
      
    <ul class="nav navbar-nav">
      <li class="active"><%= link_to "Sign In", new_user_session_path %></li>
      
    </ul>
  </div>
</nav>
 <%end%>